body{
	background-color: #D3D3D3;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	line-height: 1.5em;
	width:100%;
}

#container{
	background-color: #D3D3D3;
	width: 100%;
	height: 100%
	margin: auto;
	overflow: auto;
}

#main-header{
	font-size: 60px;
	font-weight: bold;
	font-family: Courier, sans-serif;
	text-align: center;
	padding: 10px;
	margin: 20px auto;
	

	

}

.profile{
	position: absolute;
	width: 100%;
  	height: 100%;
  	margin: 0 auto;
  	top: 12%;
  	border-top: 2px solid #4ea0d8;
  	
  	
}

#caption{
	font-size: 15px;
    	color: #414042;
    	margin: 1;
    	font-family: "Open Sans",sans-serif;
    	line-height: 23px;
    	border-bottom: 2px solid #4ea0d8;
	
}

.profile-pic{
	text-align: center;
}

#social-media{
	position: absolute;
	text-align: left;
  	width: 100%;
  	height: 100%;
  	top: 0%;
  	left: 1%;
  	/*right: 15%;*/
  	margin:auto;
}


.blog{
	position: absolute;
	width: 100%;
  	height: 100%;
  	top: 55%;
  	/*border-top: 2px solid blue;*/
  	margin-bottom: 10px;
  	margin-top: 10px;
  	
  	
}

.blog-title{
	text-align: left;
	/*font-size: 30px;*/
	margin: 10px 20px 5px;
	font-size: 30px;
    color: #1e9ebb;
    font-weight: 600;
    line-height: 30px;
    text-decoration: none;
	


}

.description{
	margin: 10px 20px 5px;
	border-bottom: 1px solid #4ea0d8 ;


}

.date{
	margin: 10px 20px 5px;
	font-size: 12px;
	
}

.read-more{
	cursor: pointer;
	outline: 0;
    	outline-color: transparent;
    	outline-style: none;
    	box-shadow: none;
    	margin-bottom: 10px;
    	margin-top: 10px;
    	color: #fff;
    	background-color: #c9344c;
    	border-color: #c9344c;
    	display: inline-block;
    	font-weight: 400;
    	text-align: center;
    	white-space: nowrap;
    	vertical-align: middle;
    	user-select: none;
    	border: 1px solid transparent;
    	padding: .375rem .75rem;
    	font-size: 1rem;
    	line-height: 1.5;
    	border-radius: .25rem;
    	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



.blog-1{
	position: absolute;
	width: 100%;
  	height: 100%;
  	top: 85%;
  	/*border-top: 2px solid blue;*/
  	margin-bottom: 10px;
  	margin-top: 20px;
  	
}

.blog-title-1{
	text-align: left;
	/*font-size: 30px;*/
	margin: 10px 20px 5px;
	font-size: 30px;
    	color: #1e9ebb;
    	font-weight: 600;
    	line-height: 30px;
    	text-decoration: none;
	


}

.description-1{
	margin: 10px 20px 5px;
	border-bottom: 1px solid #4ea0d8 ;


}

.read-more-1{
	cursor: pointer;
	outline: 0;
    	outline-color: transparent;
    	outline-style: none;
    	box-shadow: none;
    	margin-bottom: 10px;
    	margin-top: 10px;
    	color: #fff;
    	background-color: #c9344c;
    	border-color: #c9344c;
    	display: inline-block;
    	font-weight: 400;
    	text-align: center;
    	white-space: nowrap;
    	vertical-align: middle;
    	user-select: none;
    	border: 1px solid transparent;
    	padding: .375rem .75rem;
    	font-size: 1rem;
    	line-height: 1.5;
    	border-radius: .25rem;
    	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.date-1{
	margin: 10px 20px 5px;
	font-size: 12px;
	
}


/*.blog-2{
	position: relative;
	width: 55%;

}

.blog-pic-2{
	width: 200px;
}

.blog-3{
	position: relative;
	width: 55%;
	
}

.blog-pic-3{
	width: 200px;
}*/










